/* Колір основного тексту : #212121;
Підзаголовки : #757575;
Білий : #FFFFFF;
Білий напівпрозорий у футері: #FFFFFF99;
активний голубий #2196F3;
вторинний корір фону #E5E5E5;
ще один колір фону: #F5F4FA;

*/
:root {
  --primary-text-color: #212121;
  --prymary-bg-color: #e5e5e5;
  --accent-color: #2196f3;
  --bg-additional-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --paragraf-color: #757575;
  --footer-bg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.section.no-pudding {
  padding-bottom: 0;
}
.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*container*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
svg.smal-icon {
  width: 16px;
  height: 16px;
}
/*Navigation*/
/* .page-header {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
} */
/* .header-wrapper {
  border-bottom: 1px solid #ececec;
} */
.site-nav {
  display: flex;
  margin-left: auto;
}
.nav-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.container-flex {
  display: flex;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.site-nav.list.left-side {
  margin-left: auto;
}
.site-nav .contact + .contact {
  margin-left: 50px;
}
.site-nav.list {
  margin-left: 93px;
}
.site-nav.list .item {
  margin-right: 50px;
}
.site-nav.list .item:last-child {
  margin-right: 0;
}
.nav-logo-span {
  color: var(--primary-text-color);
}
.tel-link {
  margin-left: 50px;
}
.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav > .link {
  color: var(--paragraf-color);
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.item-dark {
  background-color: var(--bg-additional-color);
}
/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/bg.jpg), linear-gradient(rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4));
  text-align: center;
  background-color: #c4c4c4;
  background-size: cover;
  max-width: 1600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

/* Button*/
.button {
  color: var(--primary-text-color);
  background-color: var(--bg-additional-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
}
.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.primary {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button-menu {
  justify-content: center;
  margin-bottom: 50px;
}

.button-menu li:not(:last-child) {
  margin-right: 8px;
}
/*hero */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.smal-icon {
  fill: var(--paragraf-color);
  margin-right: 10px;
}
.site-nav .contact {
  color: rgba(117, 117, 117, 1);
}
.contact:hover .smal-icon {
  fill: var(--accent-color);
}
.list .studio-card-item {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.card-item-link:hover,
.card-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-item-link {
  display: block;
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.section-title {
  margin-bottom: 50px;
}
.list .team-card-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list .team-card-item:last-child {
  margin-right: 0;
}
.list .studio-card-item:last-child {
  margin-right: 0;
}
/*portfolio card*/
.list .card-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  /* border: 1px solid #eeeeee; */
}
.list .card-item:nth-child(3n) {
  margin-right: 0;
}
.list .card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-title-light {
  color: var(--secondary-text-color);
}
.list-p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--paragraf-color);
}
.list-title-icon::before {
  content: '';
  /* background-image: url(../img/svg/antena.svg); */
  background-repeat: no-repeat;
  background-color: var(--bg-additional-color);
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  width: 270px;
  text-align: center;
  background-position: center;
}
.card li:first-child h3::before {
  background-image: url(../img/svg/antena.svg);
}
.card li:nth-child(2) h3::before {
  background-image: url(../img/svg/clock.svg);
}
.card li:nth-child(3) h3::before {
  background-image: url(../img/svg/diagram.svg);
}
.card li:nth-child(4) h3::before {
  background-image: url(../img/svg/astronaut.svg);
}
/* .card-item-img {
  margin-bottom: 20px;
} */
.card-container {
  box-sizing: border-box;
  padding: 32px 30px;
  background-color: var(--secondary-text-color);
}
.card-container-center {
  text-align: center;
}
.card-container-border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.card-p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* width: 206px; */
  max-height: 44px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.social-list-item {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.social-list-link:hover .social-svg {
  fill: var(--secondary-text-color);
}
.social-list-link:hover {
  background: var(--accent-color);
}
.social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* company-brand-section*/
.company-container {
}
.company-icon-list {
  list-style: none;
  display: flex;
}
.company-icon-svg {
  width: 106px;
  height: 60px;
}
.company-item-icon {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.company-item-icon:not(:last-child) {
  margin-right: 30px;
}
.company-icon-link:hover .company-icon-svg {
  fill: var(--accent-color);
}
/* footer */
footer {
  background: #2f303a;
}
.footer-logo-span {
  color: var(--secondary-text-color);
}
footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
footer .container {
  align-items: baseline;
}
.address {
  margin-top: 20px;
  max-width: 230px;
}
.footer-social-link-container {
  margin-left: 70px;
}
.address a {
  display: flex;
}
.page-footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address .list {
  display: block;
}
.address-li-botmargin {
  margin-bottom: 9px;
}
.address-p {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  text-align: left;
  color: var(--secondary-text-color);
}
.address-a {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-a:hover {
  color: var(--accent-color);
}
.company-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-icon-link:hover .company-icon-svg {
  fill: var(--accent-color);
}
.company-item-icon:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.company-icon-svg {
  fill: #afb1b8;
}
footer .social-svg {
  fill: var(--secondary-text-color);
}
